In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Placement.csv')

In [3]:
import warnings

In [4]:
warnings.filterwarnings('ignore')

In [5]:
# Display Top 5 Rows of The Dataset
data.head()

,Sl_no,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [6]:
# Check Last 5 Rows of The Dataset
data.tail()

,Sl_no,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status,salary
210,211,0,80.6,Others,82.0,Others,Commerce,77.6,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.0,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.0,Others,66.0,Others,Commerce,58.0,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,0,62.0,Central,58.0,Others,Science,53.0,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [7]:
# Find Shape of Our Dataset (Number of Rows And Number of Columns)
data.shape

(215, 15)

In [8]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 215
Number of Columns 15

In [9]:
# Get Information About Our Dataset Like the Total Number of Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sl_no           215 non-null    int64
 1   Gender          215 non-null    int64
 2   10%             215 non-null    float64
 3   10_Board        215 non-null    object
 4   12%             215 non-null    float64
 5   12_Board        215 non-null    object
 6   12_Stream       215 non-null    object
 7   Btech%          215 non-null    float64
 8   Btech_Stream    215 non-null    object
 9   Work_Ex         215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(2), object(7)
memory usage: 25.3+ KB

In [10]:
# Check Null Values In The Dataset
data.isnull().sum()

Sl_no              0
Gender             0
10%                0
10_Board           0
12%                0
12_Board           0
12_Stream          0
Btech%             0
Btech_Stream       0
Work_Ex            0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [11]:
# Get Overall Statistics About The Dataset
data.describe()

,Sl_no,Gender,10%,12%,Btech%,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,0.353488,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,0.479168,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,0.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,0.000000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,0.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,1.000000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,1.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [12]:
data.columns

Index(['Sl_no', 'Gender', '10%', '10_Board', '12%', '12_Board', '12_Stream',
       'Btech%', 'Btech_Stream', 'Work_Ex', 'etest_p', 'specialisation',
       'mba_p', 'status', 'salary'],
      dtype='object')

In [13]:
# How Many Students Got Placed?
data['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [14]:
data['status'].value_counts()

status
Placed        148
Not Placed     67
Name: count, dtype: int64

In [15]:
# Could you display the top 5 sci&tech students placed according to their salary?
data.columns

Index(['Sl_no', 'Gender', '10%', '10_Board', '12%', '12_Board', '12_Stream',
       'Btech%', 'Btech_Stream', 'Work_Ex', 'etest_p', 'specialisation',
       'mba_p', 'status', 'salary'],
      dtype='object')

In [16]:
data[(data['Btech_Stream']=="Sci&Tech") & (data['status']=="Placed")].sort_values(by="salary",ascending=False).head()

,Sl_no,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status,salary
150,151,0,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.0,Mkt&Fin,61.30,Placed,690000.0
77,78,0,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.0,Mkt&Fin,57.65,Placed,500000.0
163,164,0,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.0,Mkt&Fin,66.46,Placed,500000.0
174,175,0,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.0,Mkt&Fin,66.23,Placed,500000.0
53,54,0,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.0,Mkt&HR,71.04,Placed,450000.0

In [17]:
# Data Preprocessing
data.head()

,Sl_no,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [18]:
data = data.drop(['Sl_no','salary'],axis=1)

In [19]:
data.head(1)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,No,55.0,Mkt&HR,58.8,Placed

In [20]:
# Encoding the Categorical Columns
data['10_Board'].unique()

array(['Others', 'Central'], dtype=object)

In [21]:
data['10_Board'] = data['10_Board'].map({'Central':1,'Others':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,1,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed

In [22]:
data['12_Board'].unique()

array(['Others', 'Central'], dtype=object)

In [23]:
data['12_Board'] = data['12_Board'].map({'Central':1,'Others':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,1,78.33,0,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed

In [24]:
data['12_Stream'].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [25]:
data['12_Stream'] = data['12_Stream'].map({'Science':2,'Commerce':1,'Arts':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,1,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,1,78.33,0,2,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed

In [26]:
data['Btech_Stream'].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [27]:
data['Btech_Stream'] = data['Btech_Stream'].map({'Sci&Tech':2,'Comm&Mgmt':1,'Others':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,1,58.00,2,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,1,78.33,0,2,77.48,2,Yes,86.5,Mkt&Fin,66.28,Placed

In [28]:
data['specialisation'].unique()

array(['Mkt&HR', 'Mkt&Fin'], dtype=object)

In [29]:
data['specialisation'] =data['specialisation'].map({'Mkt&HR':1,'Mkt&Fin':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,1,58.00,2,No,55.0,1,58.80,Placed
1,0,79.33,1,78.33,0,2,77.48,2,Yes,86.5,0,66.28,Placed

In [30]:
data['Work_Ex'].unique()

array(['No', 'Yes'], dtype=object)

In [31]:
data['Work_Ex'] = data['Work_Ex'].map({'Yes':1,'No':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,1,58.00,2,0,55.0,1,58.80,Placed
1,0,79.33,1,78.33,0,2,77.48,2,1,86.5,0,66.28,Placed

In [32]:
data['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [33]:
data['status'] = data['status'].map({'Placed':1,'Not Placed':0})
data.head(2)

,Gender,10%,10_Board,12%,12_Board,12_Stream,Btech%,Btech_Stream,Work_Ex,etest_p,specialisation,mba_p,status
0,0,67.00,0,91.00,0,1,58.00,2,0,55.0,1,58.80,1
1,0,79.33,1,78.33,0,2,77.48,2,1,86.5,0,66.28,1

In [34]:
# Store Feature Matrix In X and Response(Target) In Vector y
data.columns

Index(['Gender', '10%', '10_Board', '12%', '12_Board', '12_Stream', 'Btech%',
       'Btech_Stream', 'Work_Ex', 'etest_p', 'specialisation', 'mba_p',
       'status'],
      dtype='object')

In [35]:
X = data.drop('status',axis=1)
y= data['status']
y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [36]:
# Splitting The Dataset Into The Training Set And Test Set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [37]:
# Import The models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [38]:
# Model Training
lr = LogisticRegression()
lr.fit(X_train,y_train)
svm = svm.SVC()
svm.fit(X_train,y_train)
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
gb=GradientBoostingClassifier()
gb.fit(X_train,y_train)

GradientBoostingClassifier()

In [39]:
# Prediction on Test Data
y_pred1 = lr.predict(X_test)
y_pred2 = svm.predict(X_test)
y_pred3 = knn.predict(X_test)
y_pred4 = dt.predict(X_test)
y_pred5 = rf.predict(X_test)
y_pred6 = gb.predict(X_test)

In [40]:
# Evaluating the Algorithms
from sklearn.metrics import accuracy_score
score1=accuracy_score(y_test,y_pred1)
score2=accuracy_score(y_test,y_pred2)
score3=accuracy_score(y_test,y_pred3)
score4=accuracy_score(y_test,y_pred4)
score5=accuracy_score(y_test,y_pred5)
score6=accuracy_score(y_test,y_pred6)

In [41]:
print(score1,score2,score3,score4,score5,score6)

0.8837209302325582 0.7674418604651163 0.7906976744186046 0.8372093023255814 0.7906976744186046 0.8372093023255814

In [42]:
final_data = pd.DataFrame({'Models':['LR','SVC','KNN','DT','RF','GB'],
            'ACC':[score1*100,
                  score2*100,
                  score3*100,
                  score4*100,
                  score5*100,score6*100]})

In [43]:
final_data

  Models        ACC
0     LR  88.372093
1    SVC  76.744186
2    KNN  79.069767
3     DT  83.720930
4     RF  79.069767
5     GB  83.720930

In [44]:
sns.barplot(final_data['Models'],final_data['ACC'])

NameError: name 'sns' is not defined

In [45]:
import seaborn as sns

In [46]:
# Prediction on New Data
new_data = pd.DataFrame({
    'Gender':0,
    '10%':67.0,
    '10_Board':0,
    '12%':91.0,
    '12_Board':0,
    '12_Stream':1,
    'Btech%':58.0,
    'Btech_Stream':2,
    'Work_Ex':0,
    'etest_p':55.0,
     'specialisation':1,
    'mba_p':58.8,   
},index=[0])

In [47]:
lr= LogisticRegression()
lr.fit(X,y)

LogisticRegression()

In [48]:
p=lr.predict(new_data)
prob=lr.predict_proba(new_data)
if p==1:
    print('Placed')
    print(f"You will be placed with probability of {prob[0][1]:.2f}")
else:
    print("Not-placed")

Placed
You will be placed with probability of 0.96

In [49]:
prob

array([[0.0401895, 0.9598105]])

In [50]:
# Save Model Using Joblib
import joblib

In [51]:
joblib.dump(lr,'model_campus_placement')

['model_campus_placement']

In [52]:
model = joblib.load('model_campus_placement')

In [53]:
model.predict(new_data)

array([1], dtype=int64)

In [ ]:
# GUI
from tkinter import *
import joblib
import numpy as np
from sklearn import *
import tkinter.font as font
import pandas as pd

def show_entry_fields():
    text = clicked.get()
    if text == "Male":
        p1=1
        print(p1)
    else:
        p1=0
        print(p1)
    p2=float(e2.get())
    text = clicked1.get()
    if text == "Central":
        p3=1
        print(p3)
    else:
        p3=0
        print(p3)
    p4=float(e4.get())
    text = clicked6.get()
    if text == "Central":
        p5=1
        print(p3)
    else:
        p5=0
        print(p3)
    text = clicked2.get()
    if text == "Science":
        p6=2
        print(p6)
    elif text == "Commerce":
        p6=1
        print(p6)
    else:
        p6=0
        print(p6)
    p7=float(e7.get())
    text = clicked3.get()
    if text == "Sci&Tech":
        p8=2
        print(p8)
    elif text=="Comm&Mgmt":
        p8=1
        print(p8)
    else:
        p8=0
        print(p8)
    text = clicked4.get()
    if text == "Yes":
        p9=1
        print(p3)
    else:
        p9=0
        print(p3)
    p10=float(e10.get())
    text = clicked5.get()
    if text == "Mkt&HR":
        p11=1
        print(p11)
    else:
        p11=0
        print(p11)
    p12=float(e12.get())

    model = joblib.load('model_campus_placement')
    new_data = pd.DataFrame({
    'Gender':p1,
    '10%':p2,
    '10_Board':p3,
    '12%':p4,
    '12_Board':p5,
    '12_Stream':p6,
    'Btech%':p7,
    'Btech_Stream':p8,
    'Work_Ex':p9,
    'etest_p':p10,
     'specialisation':p11,
    'mba_p':p12,   
},index=[0])
    result=model.predict(new_data)
    result1=model.predict_proba(new_data)
    
    if result[0] == 0:
        Label(master, text="Can't Placed").grid(row=31)
    else:
        Label(master, text="Student Will be Placed With Probability of",font=("Arial", 15)).grid(row=31)
        Label(master, text=round(result1[0][1],2)*100,font=("Arial", 15)).grid(row=33)
        Label(master, text="Percent",font=("Arial", 15)).grid(row=34)

master = Tk()
master.title("Campus Placement Prediction System")


label = Label(master, text = "Campus Placement Prediction System"
                          , bg = "green", fg = "white",font=("Arial", 20)) \
                               .grid(row=0,columnspan=2)


Label(master, text="Gender",font=("Arial", 15)).grid(row=1)
Label(master, text="Secondary Education percentage- 10th Grade",font=("Arial", 15)).grid(row=2)
Label(master, text="Board of Education",font=("Arial", 15)).grid(row=3)
Label(master, text="Higher Secondary Education percentage- 12th Grade",font=("Arial", 15)).grid(row=4)
Label(master, text="Board of Education",font=("Arial", 15)).grid(row=5)
Label(master, text="Specialization in Higher Secondary Education",font=("Arial", 15)).grid(row=6)
Label(master, text="Degree Percentage",font=("Arial", 15)).grid(row=7)
Label(master, text="Under Graduation(Degree type)- Field of degree education",font=("Arial", 15)).grid(row=8)
Label(master, text="Work Experience",font=("Arial", 15)).grid(row=9)
Label(master, text="Enter test percentage",font=("Arial", 15)).grid(row=10)
Label(master, text="branch specialization",font=("Arial", 15)).grid(row=11)
Label(master, text="MBA percentage",font=("Arial", 15)).grid(row=12)
clicked = StringVar()
options = ["Male","Female"]

clicked1 = StringVar()
options1 = ["Central","Others"]

clicked2 = StringVar()
options2 = ["Science","Commerce","Arts"]

clicked3 = StringVar()
options3 = ["Sci&Tech","Comm&Mgmt","Others"]

clicked4 = StringVar()
options4 = ["Yes","No"]

clicked5 = StringVar()
options5 = ["Mkt&HR","Mky&Fin"]

clicked6 = StringVar()
options6 = ["Central","Others"]
e1 = OptionMenu(master , clicked , *options )
e1.configure(width=13)
e2 = Entry(master)
e3 = OptionMenu(master , clicked1 , *options1 )
e3.configure(width=13)
e4 = Entry(master)
e5 = OptionMenu(master , clicked6 , *options6)
e5.configure(width=13)
e6 = OptionMenu(master , clicked2 , *options2)
e6.configure(width=13)
e7 = Entry(master)
e8 = OptionMenu(master , clicked3 , *options3)
e8.configure(width=13)
e9 = OptionMenu(master , clicked4 , *options4)
e9.configure(width=13)
e10 = Entry(master)
e11 = OptionMenu(master , clicked5 , *options5)
e11.configure(width=13)
e12 = Entry(master)


e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10, column=1)
e11.grid(row=11, column=1)
e12.grid(row=12, column=1)
buttonFont = font.Font(family='Helvetica', size=16, weight='bold')
Button(master, text='Predict',height= 1, width=8,activebackground='#00ff00',font=buttonFont,bg='black', fg='white',command=show_entry_fields).grid()

mainloop()